* {
  box-sizing: border-box;
}

.tab {
  position: fixed;
  border-radius: 5px;
  background: grey;
  width: 25px;
  height: 50px;
  margin-top: 5px;
  z-index: -1;
  transition: margin-left 0.5s ease;
}

.tab-open {
  margin-left: 90px;
}

.left {
  position: fixed;

  top: 0; left: 0;
  width: 0px;
  height: 100%;
  background: grey;
  transition: width ease .5s;
}

.left-closed {
  width: 10px;
}

.left-open {
  width: 100px;
}

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      width: 100px;
      line-height: 1.6;
      height: 100%;
      padding: 0 !important;
      margin-right: 10px;
    }
    li:hover { 
      background: #A9A9A9;
    }
  }

  .left a {
    display: block;
    text-decoration: none !important;
    font-size: 1.75rem;
    width: 60px;
    height: 50px;
    margin: auto;
  }

  .left a:hover {
    background-color: #a9a9a9 !important;
  }
  
.right {
  position: relative;
  margin-left: 75px !important;
  margin-right: 60px;
  transition: margin-left ease .5s;
}

.right-closed {
  margin-left: 75px;
}

.right-open {
  margin-left: 120px !important;
  display: block;
}
