<div class="left left-closed">
  <div class="tab"></div>

  <ul>
    <li><a href="/"><i class="fa fa-home"></i></a></li>
    
  
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/login">Login</a></li>

    
  <% if logged_in? %>
    <li class"board-button"><a href="#">Boards</a></li>
    <div class="board-menu">
        <% current_user.boards.each do |board| %>
          <li class="board-list"><%= link_to "#{board.name}", board_path(id: board.id) %></li>
        <% end %>
    </div>
    <li><a href="/logout">Logout</a></li>
  
  <!--
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Boards
        <span class="caret"></span>
        </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <% current_user.boards.each do |board| %>
          <li><%= link_to "#{board.name}", board_path(id: board.id) %></li>
        <% end %>
        </ul>
    </div> -->
    
  <% end %>
  </ul>
  
</div>

